<div li-block="description">
                    
                    <div li-object="product.description" class="w-richtext">{{ product.description }}</div>
                    
                </div>
     {% schema %} {"name":"description","settings":[],"presets":[{"name":"description"}]} {% endschema %}