<div li-block="Description">
                    
                    <h2>
{{ block.settings.text_heading }}
</h2>

                    
                    <div li-object="product.description" class="rich-text w-richtext">{{ product.description }}</div>
                    
                </div>
     {% schema %} {"name":"Description","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Description"}],"presets":[{"name":"Description"}]} {% endschema %}