<div li-block="Extra Info">
                    
                    {% if product.metafields.custom.details %}    <div li-if="product.metafields.custom.details">
    <h3>Details</h3><div><div li-object="product.metafields.custom.details" class="rich-text w-richtext">{{ product.metafields.custom.details }}</div></div>    </div>
{% endif %}
                    
                    <div><h3>Shipping</h3><div><div class="rich-text w-richtext"> {{ block.settings.richtext_shipping }} </div>
</div></div>
                    
                    <div><h3>Terms</h3><div><div class="rich-text w-richtext"> {{ block.settings.richtext_terms }} </div>
</div></div>
                    
                </div>
     {% schema %} {"name":"Extra Info","settings":[{"id":"richtext_shipping","type":"richtext","label":"Shipping","default":"<p>\n                        For U.S. orders, we ship via USPS Ground Advantage, FedEx Ground Economy, or FedEx Home Delivery based on package size. International orders are shipped using FedEx International Economy.\n                        Orders are fulfilled by our third-party warehouse, Shipbots, in Gardena, CA. They don\u2019t ship on weekends, but typically ship same-day if the order is placed before 12 PM PST. Orders placed after 12 PM ship the next business day.\n            <\/p>"},{"id":"richtext_terms","type":"richtext","label":"Terms","default":"<p>\n                        We allow exchanges for a new size or returns for store credit. Shoot us an email to get the process started. We are not able to offer returns for refunds at this time. We have provided detailed measurements of each product to help you make the best sizing choice. We hope you understand.\n                        If there is an error on our part (due to wrong size or damage), please email us at <a href=\"mailto:info@bareknuckles.co\" target=\"_blank\">info@b<\/p>"}],"presets":[{"name":"Extra Info"}]} {% endschema %}