<div li-block="Product Price" class="u-d-flex cc-horizontal cc-gap-8">
                    
                    {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}    <div li-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
    <h2 li-object="product.compare_at_price | money" class="h6 u-color-tertiary u-style-strikethrough">{{ product.compare_at_price | money }}</h2>    </div>
{% endif %}
                    
                    <h2 li-object="product.selected_or_first_available_variant.price | money" class="h6 u-color-secondary">{{ product.selected_or_first_available_variant.price | money }}</h2>
                    
                </div>
     {% schema %} {"name":"Product Price","settings":[],"presets":[{"name":"Product Price"}]} {% endschema %}