<div li-block="Size Chart">
    <img src="{{ 'hassaan-qaiser-bKfkhVRAJTQ-unsplash_1hassaan-qaiser-bKfkhVRAJTQ-unsplash.avif' | asset_url }}" 
         loading="lazy" 
         li-object:src="product.metafields.custom.chart_image.value | img_url: '500x500'" 
         li-object:alt="product.metafields.custom.chart_image.value.alt" 
         alt="">
    
    <!-- Display multiline text metafield -->
    <div li-if="product.metafields.custom.size_table">
        <div li-object="product.metafields.custom.size_table.value" class="rich-text w-richtext"></div>
    </div>
    
    <!-- Debug fallback -->
    <div li-unless="product.metafields.custom.size_table">
        <p>No size table data available</p>
    </div>
    
</div>
{% schema %} 
{
    "name": "Size Chart",
    "settings": [],
    "presets": [
        {
            "name": "Size Chart"
        }
    ]
} 
{% endschema %}