<div class="u-d-flex cc-vertical cc-gap-40"><div class="u-d-flex cc-vertical cc-gap-16"><h1 li-object="blog.title">{{ blog.title }}</h1><h2 class="detail u-color-secondary">
{{ section.settings.text_subheader }}
</h2>
</div><a href="#" class="w-inline-block"><div>Newsletter Signup</div></a></div> {% schema %} {"tag":"div","name":"Blog Hero","settings":[{"id":"text_subheader","type":"text","label":"Subheader","default":"Sign up for our newsletter to hear about the latest drops and what we\u2019re cooking up next."}],"presets":[{"name":"Blog Hero","category":"Liquify","blocks":[]}]} {% endschema %}