<h2>
{{ section.settings.text_heading }}
</h2>
 {% schema %} {"tag":"div","name":"Collection Hero","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Worn with"}],"presets":[{"name":"Collection Hero","category":"Liquify","blocks":[]}],"enabled_on":{"templates":["collection"]}} {% endschema %}