<div class="w-layout-blockcontainer container w-container"><div class="row u-vgap-64"><div class="col col-lg-6 col-sm-12"><h1>
{{ section.settings.text_heading }}
</h1>
</div><div class="col col-lg-6 col-sm-12"><div><img src="{{ shop.brand.logo | image_url: width: 200 }}" loading="lazy" li-object:src="shop.brand.logo | image_url: width: 200" alt="">
<div><div li-object="gift_card.code">{{ gift_card.code }}</div><div li-object="gift_card.balance | money">{{ gift_card.balance | money }}</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Gift-Card","class":"section","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Gift Card"}],"presets":[{"name":"Gift-Card","category":"Liquify","blocks":[]}],"enabled_on":{"templates":["gift_card"]}} {% endschema %}