<div class="w-layout-blockcontainer container w-container"><div class="row row-between"><div class="col col-sm-12"><h1>
{{ section.settings.text_headline }}
</h1>
</div><div class="col col-lg-4 col-md-6 col-sm-12"><div li-object="page.content" class="rich-text w-richtext">{{ page.content }}</div></div></div></div> {% schema %} {"tag":"section","name":"Legal","class":"section","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Terms"}],"presets":[{"name":"Legal","category":"Liquify","blocks":[]}]} {% endschema %}