<div class="w-layout-blockcontainer container w-container"><div class="row row-between"><div class="col col-lg-6 col-sm-12"><h2>Worn With</h2></div><div class="col"><ul role="list" class="product_list">{% for worn_with in product.metafields.custom.worn_with.value %}    <li li-for="worn_with in product.metafields.custom.worn_with.value" class="product_list-item">
                                    
                            {% render 'product_item' %}

                            
                        </li>
{% endfor %}{% for worn_with in product.metafields.custom.worn_with.value %}    <li li-for="worn_with in product.metafields.custom.worn_with.value" class="product_list-item">
                                    
                        </li>
{% endfor %}</ul></div></div></div> {% schema %} {"tag":"section","name":"Product-Worn-With","class":"section","presets":[{"name":"Product-Worn-With","category":"Liquify","blocks":[]}]} {% endschema %}